 <div class="grid-container">
     <h1 class="mat-h1">Investing</h1>
     <mat-grid-list cols="{{ ( cardLayout | async )?.columns }}" rowHeight="200px">
        <mat-grid-tile [colspan]="( cardLayout | async )?.table!.cols" [rowspan]="( cardLayout | async )?.table!.rows">
            <app-card title="Current Holdings">
              <app-holdings-table></app-holdings-table>
            </app-card>
         </mat-grid-tile>
     </mat-grid-list>
 </div>

 <button (click)='makeServiceCall()'>Make Service Call!</button>
   <pre>{{allHoldings[x] | json}}</pre>
   <!-- <p>{{allHoldings[x].curPrice}}</p> -->