.full-width-table {
  width: 100%;
}

.small-table{
  overflow-x: scroll !important;
}

.mat-header-cell {
  text-align: center !important;
}

td, th {
  text-align: center !important;
  vertical-align: middle !important;
}


:host ::ng-deep .mat-sort-header-container {
  display: flex;
  justify-content: center;
}