<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>

<!-- 
  <div>
    <h2 style="text-decoration: underline;">Market Movers</h2>
    <div class='grid'>
      <ng-container *ngFor="let item of exampleMarketMovers">
        <label>
          {{item.symbol}}: {{item.percentChange}}
        </label>
      </ng-container>
    </div>
  </div>  -->

  <mat-grid-list cols="{{ ( cardLayout | async )?.columns }}" rowHeight="200px">
    <!-- Market Movers -->
    <mat-grid-tile [colspan]="( cardLayout | async )?.table!.cols"
      [rowspan]="( cardLayout | async )?.miniCard!.rows">
      <app-card title="Market Movers">        
        <br>
        <br>
        <div class='grid'>
        <ng-container *ngFor="let item of marketMovers">
          <label class="market-mover-label">
            {{item.symbol}}: {{item.percentChange}}
          </label>
        </ng-container>
      </div>
      <div>
        <br>
        <button (click)='makeMarketMoversCall()'>Refresh!</button>
      </div>
    </app-card>
    </mat-grid-tile>
    <!--Mini Cards-->
    <mat-grid-tile [colspan]="( cardLayout | async )?.miniCard!.cols"
      [rowspan]="( cardLayout | async )?.miniCard!.rows">
      <app-card title="Current Cash Value"><div class="value-container">
        <!-- <div class="icon-container">
          <mat-icon class="minicard-icons" color='primary'>payment</mat-icon>
        </div>
        <div class="amount-container">
          {{currentCash | currency}}
        </div> -->
        {{currentCash | currency}}
      </div>
    </app-card>
      <!-- <app-mini-card [value]="currentCash">{{currentCash}}</app-mini-card> -->
    </mat-grid-tile>
    <mat-grid-tile [colspan]="( cardLayout | async )?.miniCard!.cols"
      [rowspan]="( cardLayout | async )?.miniCard!.rows">
      <app-card title="Current Investment Value"><div class="value-container">
        {{investmentValue | currency}}
      </div></app-card>
    </mat-grid-tile>


    <mat-grid-tile [colspan]="( cardLayout | async )?.miniCard!.cols" [rowspan]="( cardLayout | async )?.miniCard!.rows">

      <app-card title="Top 5 Gainers">
        <div>
        <div *ngFor="let holding of my_data" style="text-align:left; font-size:10px">
          <div >{{holding.name}} ({{holding.symbol}}):   {{holding.curPrice}}</div>
      </div>
      <button (click)="getTopandBottom()">Fetchhh</button>
      </div>
      </app-card>

    </mat-grid-tile>


    <mat-grid-tile [colspan]="( cardLayout | async )?.miniCard!.cols"
      [rowspan]="( cardLayout | async )?.miniCard!.rows">
      <app-card title="Top 5 Losers"><div>Mini Card Content Here</div></app-card>
    </mat-grid-tile>
    <!--Charts-->
    <mat-grid-tile [colspan]="( cardLayout | async )?.chart!.cols"
      [rowspan]="( cardLayout | async )?.chart!.rows">
      <app-card title="Cash Value Over Time">
        <app-cash-value-chart></app-cash-value-chart>
      </app-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="( cardLayout | async )?.chart!.cols"
      [rowspan]="( cardLayout | async )?.chart!.rows">
      <app-card title="Investment Value Over Time">
        <app-investment-value-chart></app-investment-value-chart>
      </app-card>
    </mat-grid-tile>
    <!--Table-->
    <mat-grid-tile [colspan]="( cardLayout | async )?.table!.cols" [rowspan]="( cardLayout | async )?.chart!.rows">
      <app-card title="Net Worth">
        <app-net-worth-chart></app-net-worth-chart>
      </app-card>
    </mat-grid-tile>
  </mat-grid-list>
 </div>
