<!-- Original Dashboard  -->
<!-- <div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{card.title}}
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>Card Content Here</div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div> -->


<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  <mat-grid-list cols="{{ ( cardLayout | async )?.columns }}" rowHeight="200px">
    <!--Mini Cards-->
    <mat-grid-tile [colspan]="( cardLayout | async )?.miniCard!.cols"
      [rowspan]="( cardLayout | async )?.miniCard!.rows">
      <app-card title="Current Cash Value"><div>Mini Card Content Here</div></app-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="( cardLayout | async )?.miniCard!.cols"
      [rowspan]="( cardLayout | async )?.miniCard!.rows">
      <app-card title="Current Investment Value"><div>{{investmentValue}}</div></app-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="( cardLayout | async )?.miniCard!.cols"
      [rowspan]="( cardLayout | async )?.miniCard!.rows">
      <app-card title="Top 5 Gainers"><div>Mini Card Content Here</div></app-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="( cardLayout | async )?.miniCard!.cols"
      [rowspan]="( cardLayout | async )?.miniCard!.rows">
      <app-card title="Top 5 Losers"><div>Mini Card Content Here</div></app-card>
    </mat-grid-tile>
    <!--Charts-->
    <mat-grid-tile [colspan]="( cardLayout | async )?.chart!.cols"
      [rowspan]="( cardLayout | async )?.chart!.rows">
      <app-card title="Cash Value Over Time">
        <app-cash-value-chart></app-cash-value-chart>
      </app-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="( cardLayout | async )?.chart!.cols"
      [rowspan]="( cardLayout | async )?.chart!.rows">
      <app-card title="Investment Value Over Time">
        <app-investment-value-chart></app-investment-value-chart>
      </app-card>
    </mat-grid-tile>
    <!--Table-->
    <mat-grid-tile [colspan]="( cardLayout | async )?.table!.cols" [rowspan]="( cardLayout | async )?.table!.rows">
      <app-card title="Net Worth"><div>Table Content Here</div></app-card>
    </mat-grid-tile>
  </mat-grid-list>
 </div>

 <p>result</p>
